{% extends 'base.html.twig' %}

{% block title %}Reinitialisation de mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error'|trans) %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="limiter">
        <h1 class="mb-5">Réinitialisation de mot de passe</h1>

        {{ form_start(requestForm) }}
        <div class="mb-3">
            <small>
                Entrer votre email afin de recevoir votre lien de réinitialisation.
            </small>
        </div>
        {{ form_row(requestForm.email) }}

        <button class="btn-sm btn-primary">Envoyer</button>

        {{ form_end(requestForm) }}
    </div>
{% endblock %}