{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    <div class="limiter">
        <h1>Réinitialiser votre mot de passe</h1>

        {{ form_start(resetForm) }}
        {{ form_row(resetForm.newPassword) }}
        <button class="btn btn-primary">Envoyer</button>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
