@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body,
header {
  height: 100%;
}

li {
  list-style: none;
}

a {
  color: #8959a8;
}

a:hover {
  color: #2e3136;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}

footer {
  width: 100%;
  background-color: #218BC3;
  position: relative;
  bottom: 0;
  padding-top: 10px;
}
