@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  padding: 20px;
}

.footer {
  flex-shrink: 0;
  padding: 20px;
  text-align: center;
  background-color: #8959a8;
}

ul {
  list-style: none;
  color: #8959a8;
}