.jumbotron {
  height: auto;
  background-image: url("/img/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.snow, .lead {
  color: #5b0f7e;
  font-weight: bold;
}
.snow {
  font-size: 5rem;
}
.lead {
  font-size: 4rem;
}
