 #intro{
   height: 100%;
   background: url("/img/header.jpg")no-repeat center fixed;
 }

 .snow,
 .lead {
   color: #5b0f7e;
   font-weight: bold;
 }

 .snow {
   font-size: 5rem;
 }

 .lead {
   font-size: 4rem;
 }

