<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags("app") }}
        {% endblock %}
    </head>
    {% include "layout/nav.html.twig"%}
    {% block header %} {% endblock %}
    <body>
<main class="content container">
    {% block body %} {% endblock %}
</main>
    
    <footer class="footer">
        {% include "layout/footer.html.twig"%}
    </footer>
    {% block javascripts %}
        {{ encore_entry_script_tags("app") }}
    {% endblock %}
    </body>
</html>