
<div class="text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

            <!-- Content -->
            <h5 class="text-uppercase">A propos</h5>
            <p>Site de snow communautaire initié par Jimmy SWEAT.</p>
            <p>Projet sous symfony 5 et php 7.4</p>

        </div>
        <!-- Grid column -->

        <hr class="w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">les shops</h5>

            <ul class="list-unstyled">
                <li>
                    <a href="https://www.urbansurfers.fr/" target="_blank">URBANSURFERS</a>
                </li>
                <li>
                    <a href="https://stores.salomon.com/shop/Ponte-Sainte-Marie-brand-store" target="_blank">Salomon Troyes</a>
                </li>
                <li>
                    <a href="https://www.hawaiisurf.com/" target="_blank">HawaiiSurf</a>
                </li>

            </ul>

        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none pb-3">
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Follow us -->
            <h5 class="text-uppercase">Suivez-nous</h5>

            <ul class="list-unstyled d-flex align-content-center">
                <li>
                    <a href="https://twitter.com/?lang=fr" target="_blank">
                        <i class="fab fa-2x fa-twitter mr-2"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/?hl=fr" target="_blank">
                        <i class="fab fa-2x fa-instagram-square mr-2"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=mTFMakbP0xw" target="_blank">
                        <i class="fab fa-2x fa-youtube-square"></i>
                    </a>
                </li>

            </ul>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

</div>
<!-- Footer Links -->

<!-- Copyright -->
<div class="footer-copyright text-center py-3"> 2020-2021 ©Copyright:
    <a href="https://thomas-demagny.com/" target="_blank"> thomas-demagny.com</a>
</div>