{% extends 'base.html.twig' %}

{% block title %}New Trick{% endblock %}

{% block body %}
    <main class="limiter">
        <h1>Créer un Trick</h1>

        {{ include('trick/_form.html.twig') }}

        <a href="{{ path('trick') }}" class="btn-sm btn-dark"><i class="fas fa-angle-double-left mt-3"></i>retour</a>
    </main>
{% endblock %}
